---
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
import Game from "../components/Game/index.tsx";
---

<Layout title="TicTacToe by Luis Alejo">
  <main
    class="overflow-hidden mx-auto relative w-[100vw] h-screen flex justify-center items-center max-w-[1200px] bg-white shadow-[0_0px_20px_5px_rgba(0,0,0,0.4)]"
  >
    <Game client:load />
    <Background />
  </main>
</Layout>