<div class="text-center">
  <h1 class="tic-tac-toe text-4xl font-bold text-blue-400">Tic Tac Toe</h1>
  <span
    class="flex font-extralight justify-end align-super text-[11px] -mt-1 pr-[2px] text-blue-900"
    >by Luis Alejo</span
  >
</div>

<style>
  .tic-tac-toe {
    font-family: "bungee", cursive;
  }
</style>
